@media (max-width: 1500px) {
    .welcomeDasboard{
        height:35vh;
     }
}

@media (max-width: 1100px){
   
    .Nav_componentes{
        width: 78.5vw;
    }

    .menuVertical{
        margin-left:79% ;
        width: 20vw
    }
    .menuVertical h2{
        font-size: 20px;
    }
    .listado button{
        height: 5vh;
        width: 20%;
    }

     .search_imput{
       display: none;
    }

    .welcomeDasboard{
        height:52%;
     }
     .welcomeDasboard section p{
        line-height: 20px;
     }
    
     .welcomeDasboard section button{
        width: 100%;
        height: 5vh;
        margin-right: 25px;
     }

     
     .information{
        width: 23vw;
    }

    .Not{
        width: 27vw;}

}


@media (max-width: 1000px){
    .menu{
        display: block;
        margin-left: 5px;
        height: 5vh;
        cursor: pointer;
    }

    .boxBox{
        flex-direction: column-reverse;
    }
    .Nav_componentes{
        width: 100vw;
    }

    .graphica{
        width: 98vw;
    }

    .boxHeader{
        width: 100vw;
    }

    .headerRithg{
        display: flex;
        width: 100%;
     }

     .welcomeDasboard{
        width: 100vw;
     }
     
    .dasboards{
        width: 100%;
    }
    .contenedor_header{
        width: 100vw;
    }

    footer{
        width: 100%;
    }

    .menuVertical{
        left:-3%;
        top:12%;
        width: 23vw

       
    }
    .menuVertical2{
        left: 100%;
        }
        
}

@media (max-width: 900px){

    .menuVertical{
        margin-left: 75%;
        width: 27vw
    }
    
}
@media (max-width: 800px){

    .menuVertical{
        margin-left: 70%;
        width: 32vw
    }

    .headerRithg{
        display: flex;
        flex-direction: column;
     }
     .welcomeDasboard{
        width: 90vw;
        margin: 2% auto;
        justify-content: space-around;
     }
     .boxHeader{
        flex-direction: column;
        width: 100vw;
    }
    .headerBox{
        width: 100%;
    }

    .boxAverage{
        width: 90vw;
        margin:2% auto;
        justify-content: space-around;
    }

    .graphica{
        margin: 0 7px;
    }

    .viewTitle{
        font-size: 13.5px;
    }
    .listado p{
        font-size: 13px;
    }

      
    .information2{
        width: 30vw;
        margin-left: 90px;
    }

.mega{
     width: 80vw;
}

.megaImg {
    display: none;
 }

 .articulo{
    width: 60vw;
    margin: 200px 20%;
}

.btnclose{
    width: 30%;
}
}


@media (max-width: 700px){
    .listado {
        flex-direction: column-reverse;
    }

    .listado button{
        width: 30%;
        height: 5vh;
    }
    .name_p{
        font-size: 15px;
    } 
    .menuVertical{
        margin-left: 68%;
        width: 34vw
    }
    .mega
   {
    width: 90vw;
    }
    .articulo{
        width: 70vw;
        margin: 200px 15%;
    }
    

}

@media (max-width: 650px){
    .menuVertical{
        margin-left: 57%;
        width: 44vw
    }
    .imagen{
        height: 3vh;
        margin-left: 10px;
        
    }
    .menu{
        margin-left: 2px;
        height: 3vh;
    }

    .usuario{
        height: 4vh;
        margin-left: 10px;
    }

    .megaText{
        font-size: 14px;
    }
    .mega
    {
     width: 93vw;
     }
}

@media (max-width: 600px){
    .mega
    {
    
     width: 96vw;
     }

     .megaText{
        font-size: 12px;
    }
    .Not{
        width: 40vw;
       
    }
    .information{
        width: 25vw;
    }
}
